*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
img.logo{
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

header{
    display:flex;
    background-color: rgb(100, 19, 138);
    align-items: center;
    justify-content:space-between;
    padding: 1rem;
}
.logo{
    max-width: 5rem;
}
.nav_list{
    display: flex;
    list-style-type: none;
    gap:1rem;
}
.nav_list li a {
    text-decoration: none;
    color: whitesmoke;
}
.abrir_menu,
.cerrar_menu{
    display: none;
}

@media (max-width: 800px) {
    .abrir_menu,
    .cerrar_menu{
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }

 
    .nav {
         opacity: 0;
        visibility: hidden; 
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top:0;
        right: 0;
        bottom: 0;
        background-color: rgb(100, 19, 138);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(236, 236, 236, 0.5);
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav_list{
        flex-direction: column;
        align-items: end;
    }

    .nav_list li a {
        text-decoration: none;
        color: whitesmoke;
    }
}